body > header {
  background-color: #4d7496;
  border-bottom: 4px solid #2a4053;
  color: white;
  height: 46px;
  text-shadow: 0 1px 0 black;
  width: 100%;
}
body > header .container {
  padding: 0 25px;
}
body > header nav ul {
  height: 46px;
  margin: 0;
  line-height: 46px;
}
body > header nav li {
  display: inline-block;
}

#navigation {
  background: #fafafa;
  border-right: 1px solid #e5e5e5;
  width: 225px;
}

#main {
  background: white;
}

#sidebar {
  background: #fafafa;
  border-left: 1px solid #e5e5e5;
  width: 225px;
}

.box {
  display: inline-block;
}
