header
	background: white
	border-bottom: 1px solid #e5e5e5
	height: 45px
	width: 100%


#navigation
	background: #fafafa
	border-right: 1px solid #e5e5e5
	width: 225px

#main
	background: white	

#sidebar
	background: #fafafa
	border-left: 1px solid #e5e5e5
	width: 225px

.box
	display: inline-block	